Flask==2.3.2
Flask-Cors==3.0.10
SQLAlchemy==2.0.15
psycopg2-binary==2.9.6
python-dotenv==1.0.0
Flask-Migrate==4.0.4
marshmallow==3.19.0
flask-marshmallow==0.14.0
pytest==7.3.2
pytest-mock==3.11.1
requests==2.31.0
Flask-SQLAlchemy==3.0.5
openai==0.27.8
langchain==0.0.232
tiktoken==0.4.0
beautifulsoup4==4.12.2
python-gitlab==3.10.0
PyGitHub==1.59.0
fastapi==0.99.0
uvicorn[standard]==0.22.0
pydantic==1.10.8
google-api-python-client==2.94.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
langchainplus-sdk==0.0.18
alembic==1.11.1
bcrypt==4.0.1
anthropic==0.11.0
pinecone-client==2.2.4
chromadb==0.4.14
sentence-transformers==2.2.2
lark==1.1.5
weaviate-client==3.26.1
pandas==2.0.3
numpy==1.24.4
webdriver-manager==4.0.0
selenium==4.10.0
docker==6.1.3
playwright==1.37.0
httpx==0.25.1
tenacity==8.2.3
slack-bolt==1.18.0
slackclient==2.9.3
supabase==1.0.3
cohere==0.0.1-rc1
typing-inspect==0.9.0
typing_extensions==4.5.0
click==8.1.6
connexion[flask]==2.14.2
gunicorn==20.1.0
protobuf==4.24.4
